body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #dee0e0;
}
.content-box
{
    height: auto;
    width: 80%;
    margin: 0 auto;
    text-align: justify; 
    margin-top: 20px; 
    border-radius: 20%;
}
.content-box .label 
{
    background-color: #2694af;
    cursor: pointer;
    user-select: none;
    color: linen;
    font-size: 1.2em;
    font-weight: bolder;
    padding: 10px;
    border-radius: 15px;
}
.content-box.color .label
{
    background-color: #5dc9c0;
}
.content-box .label::after
{
    content: '+';
    float: right;
    transform: translate(-30%);
}
.content-box.active .label::after
{
    content: '-';
    transform: translate(-60%);

}
.content-box .content
{
    background-color: #e6e6e6;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    border-radius: 10px;
}
.content-box.active .content
{
    height: 140px;
    padding: 10px;
}
@media screen and (max-width: 1052px)
{
    .content-box.active .content
    {
        height: auto;
    }
}